<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Adding Todo</h2>
      <div class="mb-3">
        <label for="name" class="form-label">
          Name
        </label>
        <input 
          [ngClass]="{'form-control': true, missing: newTodoName === '' && inputChangedAlready}"
          id="name" 
          [(ngModel)]="newTodoName" 
          (input)="inputHandler($event)"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Priority</label>
        <div class="input-group">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" [ngClass]="getPriorityButtonClass('Low')" (click)="prioritySelected('Low')">
              Low
            </button>
            <button type="button" [ngClass]="getPriorityButtonClass('Medium')" (click)="prioritySelected('Medium')">
              Medium
            </button>
            <button type="button" [ngClass]="getPriorityButtonClass('High')" (click)="prioritySelected('High')">
              High
            </button>
          </div>
        </div>
      </div>

      <button class="btn btn-primary mt-3" [disabled]="newTodoName === ''" (click)="addNewTodo()">
        <i class="bi bi-plus-square me-1"></i>
        Add
      </button>
    </div>
    <div class="col">
      <h2>Todos</h2>

      <ul class="list-group todo-list">
        <li class="list-group-item low" *ngFor="let lowTodo of lowTodos">
          <i class="bi bi-brightness-alt-low"></i>
          {{lowTodo}}
        </li>
        <li class="list-group-item medium" *ngFor="let mediumTodo of mediumTodos">
          <i class="bi bi-check"></i>
          {{mediumTodo}}
        </li>
        <li class="list-group-item high" *ngFor="let highTodo of highTodos">
          <i class="bi bi-lightning-charge"></i>
          {{highTodo}}
        </li>
      </ul>
    </div>
  </div>
</div>
