/* load bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

#name.missing {
  border-color: red;
  box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
}

.list-group-item.low {
  background-color: #efefef;
  color: #777;
}

.todo-list .high {
  color: red;
}